# Virtual Environments
.venv/
venv/
env/

# IDE and Editor
.idea/
.vscode/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Secrets / Auth
.env

# Logging
*.log

# Databases
*.db
*.sqlite
*.sqlite3